<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a >Our APP</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto col-11">
        <li *ngIf="!userRegister" class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']"> Login </a>
        </li>
        <li *ngIf="!userRegister" class="nav-item active" >
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        </ul>
        <ul class="nav col-1 d-flex justifiy-content-end">
          <li class="nav-item float-right">
            <a class="nav-link" [ngClass]="userRegister?'someone-there':'not-there'"> Hey!! </a>
          </li>
        </ul> 
    </div>
  </nav>